if SHIELD_EROOTS_LEFT

config ZMK_KEYBOARD_NAME
    default "eroots"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_EROOTS_LEFT || SHIELD_EROOTS_RIGHT

config ZMK_SPLIT
    default y

endif